# MongoDB
MONGO_PORT=27017
MONGODB_URI=mongodb://localhost:27017/ftkm

# Next.js
FRONTEND_PORT=3000

# JWT secret for session signing
SECRET_JWT=your-secret-key-here

# Admin user (created on first startup)
ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin123
