.container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-end;
}

.btn {
    a {
        width: fit-content;
        color: var(--global-palette-1, rgba(16, 6, 159, 1));
    }
}
