@import "@variables";

.TextAndVideo1 {
  font-family: Monserrat;
  @include font-32;
  gap: adaptiveSize(50, 28);
  align-items: center;

  @include mr-t-b;
  @include pd-t-b;

  p {
    text-align: justify;
    flex: 1;
    min-width: min(100%, 420px);
  }

  strong {
    display: block;
  }

  .mediaWrap {
    flex: 1;
    min-width: min(100%, 520px);
    max-width: 640px;
  }
}

@media screen and (max-width: 1100px) {
  .TextAndVideo1 {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
  }

  .mediaWrap {
    max-width: 100%;
  }
}
