@import '@variables';

.ItemCircle {
    display: flex;
    width: fit-content;
    max-width: 320px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.circle {
    @include font-64;
    display: flex;
    width: adaptiveSize(150, 75);
    height: adaptiveSize(150, 75);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: $main-blue;

    color: $color-w;
    font-weight: bold;

    margin-bottom: adaptiveSize(20, 10);
}

.title {
    @include font-30;
    font-weight: 600;
    line-height: 1;
}

.subcircle-text {
    @include font-20;
}
