@import '@variables';

.EmployeeItem {
    a {
        display: block;
        color: $mui-blue;
        line-height: 1.5;
        @include font-20;
        @include Roboto;
    }

    a:hover {
        color: black;
    }

    p {
        @include font-16;
    }
}

