@import '@variables';

.headerWrapper {
    position: relative;
}

.Header {
    &.Header {
        background: var(--global-palette-1, rgba(16, 6, 159, 1)) !important;
        background-color: var(--global-palette-1, rgba(16, 6, 159, 1)) !important;
    }

    a {
        .Btn {
            color: var(--global-palette-3, white);
            cursor: pointer;
            font-weight: 600;
        }
    }
}

.vstuIcon {
    img {
        max-width: 150px;
    }
}

.box {
    justify-content: center;
}

.burger-menu {
    display: none;
}

@media screen and (max-width: 1024px) {
    .vstuIcon {
        flex-grow: 1;
    }

    .Box2 {
        display: none !important;
    }

    .burger-menu {
        display: block;
    }
}
